.success, .error {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    padding: 10px;
}

.success {
    color: green;
    border-color: green;
}

.error {
    color: red;
    border-color: red;
}